@import url("./loader.css");
@import url("../fonts/fonts.css");

* {
    font-family: a;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    font-family: Teko-Medium;
    -webkit-highlight: transparent;
    -webkit-tap-highlight-color: transparent;
}

.nav-link {
    font-size: 1.3pc;
}

p, input, select, textarea {
    font-family: Boxicons !important;
    word-spacing: -3px;
}

body {
    scroll-behavior: smooth;
    background-color: #e0e0e0;
}

#desktop-view {
    display: none !important;
}

@media (min-width: 700px) {
    header {
        display: none !important;
        visibility: hidden !important;
    }
    main {
        display: none !important;
        visibility: hidden !important;
    }
    #desktop-view {
        display: block !important;
    }
}

a {
    text-decoration: none;
}

.logo-text {
    font-weight: bold;
    font: 1.8pc Lobster-Regular;
}
.navbar {
    z-index: 50;
    height: 100px;
    box-shadow: 2px 2px 5px grey;
}
.container-fluid {
    top: 0;
    margin-top: 10px;
    position: absolute;
}
.nav-list {
    color: #fff;
    margin-top: -2px;
    margin-right: 5px;
    font-size: 2pc;
    font-weight: bolder;
}
.nav-list:hover {
    color: #000;
}

main {
    display: flex;
    margin-top: 7pc;
    margin-bottom: 20px;
}