@font-face {
    font-family: "Teko-Medium";
    src: url("Teko-Medium.ttf");
}
@font-face {
    font-family: "Lobster-Regular";
    src: url("Lobster-Regular.ttf");
}
@font-face {
    font-family: "Courgette-Regular";
    src: url("Courgette-Regular.ttf");
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url("BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "Boxicons";
    src: url("Boxicons.ttf");
}